.register {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #68BB46;
}

.register-container {
    display: flex;
    gap: 20px;
    align-items: center;
}

.register-call-link-num {
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    color: #fff;
    margin-bottom: 10px;
}

.register-call-link-deck {
    text-decoration: none;
    font-size: 18px;
    color: #fff;
}

.register-form-deck {
    font-family: sans-serif;
    color: #fff;
    font-size: 20px;
}

.register-input {
    display: inline-block;
    max-width: 500px;
    height: 30px;
    border: none;
    border-radius: 6px;

}

.register-btn {
    display: inline-block;
    border: none;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    border-radius: 6px;
    text-align: center;
    background-color: #fff;
    color: black;
    cursor: pointer;
}

@media only screen and (max-width: 892px) {
    .register-container {
        display: flex;
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 622px) {
    .register-container {
        display: flex;
        justify-content: center;
        text-align: center;
    }
}